body{
  text-family: Times New Roman;
  background-color: lightgreen;
}
.copy{
  color: black;
  text-align: center;
  border:2px solid purple;
  width: 300px;
  height: 20px;
  margin-left: 40%;
}
.form{
  font-weight: bold;
}
.none{
  display: none;
}
.redirect{
  text-align: center;
  width: 5%;
  height: 50%;
  border: 3px solid green;
  border-radius: 5%;
}
form{
  text-align: center:
}
.link{
  text-align: center;
  text-weight: bold;
  border: 3px solid black;
  width: 50%;
  height: 50%;
  margin-left: 25%
}
button{
  color: darkslateblue;
  text-weight: bold;
}
