body{
  background-color: lightblue;
  font-family: Times New Roman;
}
nav{
  text-align: center;
  border: 2px solid lime;
}
h1{
  border: 2px;
  width: auto;
  height: auto;
  display: inline-block;
}
.title{
  text-align: center;
  color: green;
}
.copy{
  text-align: center;
  border: 2px solid purple;
  margin: auto;
}
h2{
  font-weight: bold;
}
