body{
  background-color: lightblue;
  font-family: Times New Roman;
}
h1{
  color: pink;
}
p{
  color: green;
}
.copy{
  color: black;
  border: 3px solid black;
  width: 200px;
  height: 500px;
  border-radius: 20px;
}
.hide{
  color: black;
  text-align: center;
  border: 2px solid black;
}
#name{
  color: red;
  text-align: center;
  padding:20px;
  margin: 10px;
  border:2px solid black;
}
